%p#notice= notice

%p
  %b Name:
  = @character.name
%p
  %b Toughness:
  = @character.toughness
%p
  %b Power:
  = @character.power

= link_to 'Edit', edit_character_path(@character)
\|
= link_to 'Back', characters_path
